@font-face {
  font-family: ShortStack;
  src: url("./fonts/ShortStack-Regular.ttf");
}
@font-face {
  font-family: DreamingOutloud;
  src: url("./fonts/Dreaming Outloud.otf");
}
@font-face {
  font-family: PoppinsBold;
  src: url("./fonts/Poppins-Black.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Medium.ttf");
  font-weight: normal;
}
@font-face {
  font-family: PoppinsLight;
  src: url("./fonts/Poppins-Light.ttf");
  font-weight: lighter;
}

html,
body {
  margin: 0;
  font-family: DreamingOutloud;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.poppins-light {
  font-family: PoppinsLight !important;
}
.poppins {
  font-family: Poppins !important;
}
.poppins-bold {
  font-family: PoppinsBold !important;
}
